# SPDX-FileCopyrightText: 2021 Amazon.com, Inc. or its affiliates.
#
# SPDX-License-Identifier: MIT-0
# Git
.git

### VisualStudioCode ###
.vscode/*
### IntelliJ/ PyCharm ###
.idea/*
# System Files
**/.DS_Store